body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u425 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  position:absolute;
  left:10px;
  top:73px;
  width:1260px;
  height:667px;
}
#u427 {
  position:absolute;
  left:2px;
  top:326px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u428 {
  position:absolute;
  left:10px;
  top:23px;
  width:135px;
  height:50px;
}
#u429 {
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u430 {
  position:absolute;
  left:41px;
  top:41px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u431 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u432 {
  position:absolute;
  left:28px;
  top:120px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u434 {
  position:absolute;
  left:856px;
  top:740px;
  width:152px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u436 {
  position:absolute;
  left:28px;
  top:152px;
  width:676px;
  height:161px;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u437 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u438 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:36px;
}
#u439 {
  position:absolute;
  left:66px;
  top:0px;
  width:387px;
  height:36px;
}
#u440 {
  position:absolute;
  left:2px;
  top:10px;
  width:383px;
  word-wrap:break-word;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:36px;
}
#u441 {
  position:absolute;
  left:453px;
  top:0px;
  width:218px;
  height:36px;
}
#u442 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u443 {
  position:absolute;
  left:0px;
  top:36px;
  width:66px;
  height:30px;
}
#u444 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:30px;
}
#u445 {
  position:absolute;
  left:66px;
  top:36px;
  width:387px;
  height:30px;
}
#u446 {
  position:absolute;
  left:2px;
  top:7px;
  width:383px;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u447 {
  position:absolute;
  left:453px;
  top:36px;
  width:218px;
  height:30px;
}
#u448 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u449 {
  position:absolute;
  left:0px;
  top:66px;
  width:66px;
  height:30px;
}
#u450 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:30px;
}
#u451 {
  position:absolute;
  left:66px;
  top:66px;
  width:387px;
  height:30px;
}
#u452 {
  position:absolute;
  left:2px;
  top:7px;
  width:383px;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u453 {
  position:absolute;
  left:453px;
  top:66px;
  width:218px;
  height:30px;
}
#u454 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u455 {
  position:absolute;
  left:0px;
  top:96px;
  width:66px;
  height:30px;
}
#u456 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:30px;
}
#u457 {
  position:absolute;
  left:66px;
  top:96px;
  width:387px;
  height:30px;
}
#u458 {
  position:absolute;
  left:2px;
  top:7px;
  width:383px;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u459 {
  position:absolute;
  left:453px;
  top:96px;
  width:218px;
  height:30px;
}
#u460 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u461 {
  position:absolute;
  left:0px;
  top:126px;
  width:66px;
  height:30px;
}
#u462 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:30px;
}
#u463 {
  position:absolute;
  left:66px;
  top:126px;
  width:387px;
  height:30px;
}
#u464 {
  position:absolute;
  left:2px;
  top:7px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u465 {
  position:absolute;
  left:453px;
  top:126px;
  width:218px;
  height:30px;
}
#u466 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  position:absolute;
  left:149px;
  top:24px;
  width:135px;
  height:50px;
}
#u468 {
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u469 {
  position:absolute;
  left:179px;
  top:41px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u470 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u471 {
  position:absolute;
  left:65px;
  top:122px;
  width:76px;
  height:19px;
}
#u471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u472 {
  position:absolute;
  left:187px;
  top:119px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u474 {
  position:absolute;
  left:252px;
  top:117px;
  width:300px;
  height:25px;
}
#u474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  position:absolute;
  left:570px;
  top:117px;
  width:129px;
  height:25px;
}
#u476 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  position:absolute;
  left:289px;
  top:23px;
  width:135px;
  height:50px;
}
#u478 {
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u479 {
  position:absolute;
  left:336px;
  top:41px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
